[Unit]
Description=Small description of the service
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
Environment="PATH=__ENV_PATH__"
WorkingDirectory=__FINALPATH__/
ExecStart=/bin/bash -c 'ts-node --project __FINALPATH__/tsconfig.json __FINALPATH__/bin/server.ts >> /var/log/__APP__/__APP__.log 2>&1'

[Install]
WantedBy=multi-user.target
